html,*{
    padding: 0;
    margin: 0;
}
h1{
    font-family: sans-serif;
    background-color: antiquewhite;
    padding: 3rem 1rem
}
a{
    color: blue;
    transition: transform 1s;
}
a:hover,a:active{
    transform: scale(2);
    color: red;
}
img{
    width: 80%;
    max-width: 500px;
    margin: 3rem auto;
    display: block;
    filter: hue-rotate(3000deg) blur(20px) ;
}
img:hover{
    filter: hue-rotate(0deg) blur(0px);
    transition: filter 10s;
}